.input__native-group {
  position: relative;
  margin-bottom: 30px;
}

.input__native-input {
  font-size: 16px;
  padding: 10px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #ccc;
  &:focus{
    outline: none
  }
}


.input__native-input {
  color: #999;
  font-size: 18px;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 15px;
  transition: 0.2s ease all;
  &:focus ~ label,
  &:valid ~ label {
    top: -15px;
    font-size: 14px;
    color: #5264AE;
  }

}

//.input__native-input:focus {
//  outline: none;
//}
//
//.input__native-label {
//  color: #999;
//  font-size: 18px;
//  position: absolute;
//  pointer-events: none;
//  left: 10px;
//  top: 15px;
//  transition: 0.2s ease all;
//  -moz-transition: 0.2s ease all;
//  -webkit-transition: 0.2s ease all;
//}
//
///* active state */
//.input__native-input:focus ~ .input__native-label, .input__native-input:valid ~ .input__native-label {
//  top: -15px;
//  font-size: 14px;
//  color: #5264AE;
//}


/* BOTTOM BARS ================================= */
.input__native-bar {
  position: relative;
  display: block;
  width: 320px;
  &:before,
  &:after{
    content: '';
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

  &:before{
    left: 50%;

  }

  &:after{
    right: 50%;
  }
}


/* active state */
.input__native-input:focus ~ .input__native-bar:before,
.input__native-input:focus ~ .input__native-bar:after {
  width: 50%;
}

